/* resources/css/app.css */
@import 'node_modules/@fortawesome/fontawesome-free/css/all.css';


@font-face {
    font-family: 'LibreBodoni';
    src: url('/fonts/LibreBodoni-Italic.ttf') format('truetype'),
    url('/fonts/LibreBodoni-Bold.ttf') format('truetype'),
    url('/fonts/LibreBodoni-SemiBoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'LibreBodoni';
}

a{
    text-decoration: none;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background: rgb(161, 20, 25);
    border: 1px solid rgb(161, 20, 25);
    box-shadow: 0.125rem 0 0.55rem 1px rgba(0, 0, 0, 8%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav img{
    width: 100%;
    padding: 20px;
    cursor: pointer;
    transition: all .5s;
    border-radius: 50%;
}
nav img:hover{
    transform: scale(0.9);
}
nav .enlaces{
    display: flex;
    flex-direction: column;
    height: 80%;
    padding: 40px 0;
}

nav .enlaces a{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    font-size: 1.2em;
    color: white;
    transition: all .5s;
}

nav .enlaces a:hover{
    background-color: rgb(182, 49, 53) ;
}

nav .enlaces a span{
    width: 45px;
    color: white;
}

nav .sociales{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav .sociales a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(161, 20, 25);
    color: white;
    transition: all .5s;
}

nav .sociales a:hover{
    background: transparent;
    transform: scale(2);
}

.content {
    margin-left: 190px; /* Deja espacio para el nav fijo y un pequeño margen adicional */
    padding: 20px;
}

.titulo{
    font-family: 'LibreBodoni';
    font-size: xx-large;
    font-weight: bold;
    color: rgb(161, 20, 25);
    padding: 1.5%;
}

.formulario{
    border: 1px solid rgb(161, 20, 25);
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;

}

.col-6{
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col-6 input{
    width: 45%;
}

.form-label{
    padding-right: 2%;
    font-size: large;
    color: rgb(161, 20, 25);
    font-weight: 600;
}

.form-control input{

}

.form-select{
    width: 45%;
}

.btn{
    padding: 0.25%;
    margin-left: 230px;
    color: rgb(161, 20, 25);
    border: 0;
}

.btn:hover{
    background: transparent;
    transform: scale(1.5);
    border: 0;
}




.tabla{
    border: solid #5e0303;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px #5e0303;
    width: 100%;

}


th, td{
  border-top: 1px solid #b32424;
  padding: 8px;
  text-align:left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even){
    background-color: #f2f2f2;}


.carnet {
    width: 450px;
    height: 200px;
    background-color: #f0f0f0;
    border: 2px solid #8a1313;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
}


.image-container {
    flex: 0 0 auto; /* Hace que la imagen tenga un tamaño fijo */
    margin-right: 20px;
}

.info-container {
    flex: 1; /* Hace que el contenido de la información ocupe el espacio restante */
}

.employee-image {
    height: 130px;
    width: 130px;
    border-radius: 50%;
}

.btn_editar{
    background-color: #d1b36d; /* Verde */
  border-radius: 10px;
  color: rgb(188, 30, 30);
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

