@import '@fortawesome/fontawesome-free/css/all.css';

@font-face {
    font-family: 'LibreBodoni';
    src: url('/fonts/LibreBodoni-Italic.ttf') format('truetype'),
        url('/fonts/LibreBodoni-Bold.ttf') format('truetype'),
        url('/fonts/LibreBodoni-SemiBoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 5;
}

.barra {
    background-color: rgb(161, 20, 25);
    font-family: 'LibreBodoni';
    font-size: 1.5em;
    width: 100%;
    display: flex;
    height: 20%;
    min-height: 50px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px 6px 0 0;
    padding: 25px;

}

.barra input{
    border-radius: 4px;
    padding: 6px;
    font-family: 'LibreBodoni';
}

.barra button{
    border-radius: 10px;
    padding: 6px;
    border-color:rgb(161, 20, 25) ;
    background-color: rgb(226, 162, 43);
    font-family: 'LibreBodoni';
    font-size: medium;
}

.barra button:hover{
    background:rgb(226, 160, 106) ;
}

.barra a {
    text-decoration: none;
    color: white;

}

.barra a:hover {
    background: rgb(207, 88, 92);
    border-radius: 6px;
    padding: 2px;
}








footer {
    width: 100%;
    height: 15%;
    border: 6px solid rgb(161, 20, 25);
    border-radius: 0 0 10px 10px;
    background-color:rgb(161, 20, 25);
}

.pie {
    display: flex;
    justify-content: center;
}

footer .container {
    display: flex;
    justify-content: space-around;

}

.enlace {
    font-family: "LibreBodoni";
    font-size: large;
    color: rgb(255, 255, 255);
    text-align: center;
}


.vinculo a {
    text-decoration: none;
    font-family: "LibreBodoni";
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 90%;
}

.vinculo a:hover {
    color: rgb(207, 88, 92);
}

ul li {
    list-style-type: none;
    margin-bottom: 5%;
}

.derechos {
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.contenido{

    border-right: 10px dashed rgb(161, 20, 25);
    border-left: 10px dashed rgb(161, 20, 25);

}

.titulo{
   /* font-family: "LibreBodoni";
    text-align: center;
    color: rgb(161, 20, 25);
    padding: 6px;
    font-size: 2em;;*/
        text-align: center;
        font-family: "LibreBodoni";
        font-weight:bold;
        font-size: 30px;
        color: rgb(161, 20, 25);
        text-shadow: -1px 0 #e3d374, 0 1px #e3d374, 1px 0 #e3d374, 0 -1px #e3d374, -2px 2px 0 #e3d374, 2px 2px 0 #e3d374, 1px 1px #e3d374, 2px 2px #e3d374, 3px 3px #e3d374, 4px 4px #e3d374, 5px 5px #e3d374, 6px 6px #e3d374, 7px 7px #e3d374, 8px 8px #e3d374, 9px 9px #e3d374;
}

.caja-contenido{

    font-size: 20px;
    font-weight: 300;
    margin: 10px 100px 20px 100px;
    padding: 10px 200px 30px 200px;
    font-family: "LibreBodoni";
    background-color: rgb(216, 204, 166);
    border-radius: 60px;

}

.caja-contenido h2{

    border-radius: 60px;
    color: #ffffff;
    background-color:rgb(161, 20, 25);
    padding: 10px;
    text-align: center;
}

.caja-contenido p{
    text-align: center;
    padding-left: 30px;
}



.imagen-bienvenida{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imagen-bienvenida img{
    border-radius: 60px;
    width: 350px;

}


